body{
height:100%;
margin:0px;
padding:0px;
font-family:cursive;
}
.ab{
    background-image:url('modern-robot-isolated-blue-background-cute-cartoon-character-artificial-intelligence-concept_48369-13443.jpg');
  background-repeat:no-repeat;
   background-position: center ;
    height:440px;
    margin:0px;
width:100%;

    
    padding:0px;
    list-style-type: none;
    display:flex;
    flex-direction:row;text-align: center;
  
  background-position: center ;
    background-size:cover;
   


    


    
   

}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;


}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  

   margin:8px;
    flex:1 0 auto;
    font-size:25px;
    font-weight: 20px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  text-decoration:none;
    color:white;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


  
 #ello{
    margin:0px;
    top:30%;
    left:65%;
    position:absolute;
    font-weight:8000rem;
    font-size:40px;
    color:black;
    text-shadow:1px 2px white;
 }  
 nav{
    background-color: black;
    position:fixed;
    width:100%;
    
    
 } 
nav ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
    display:flex;
    flex-direction:row;
    width:100%;
    text-align: center;
}
nav ul li{
    margin:8px;
    flex:1 0 auto;
    font-size:25px;
    font-weight: 20px;
}
a{
    text-decoration:none;
    color:white;

}
     
a:hover{
    color:orange;
    font-size:20px;
    padding:4px;


}
#form1{
color: #f2d9d9;

text-font:italics;
}

input[type="text"]{
align:centre;
}
.content2{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: center;
    align-items: : center;
    flex-wrap:wrap;

    
}
.content{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: center;
    align-items: : center;
    flex-wrap:wrap;

    
}
section h2{
    text-align:center;
    color:#ffffb3;
    
}
.box-1{
    background-color:#3385ff;
   flex:1 0 auto;

 

    border:1px solid white;
     margin:0px;
    
   
}
.box-2{
    
    background-color:#3385ff;
      flex:1 0 auto;
 

    border:1px solid white;
     margin:0px;
     width:15%;
   
  
 
}

.outerCircle {
 background-color: transparent;
border: 8px solid rgba(97, 82, 72, 0.9);
opacity: 1;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
border-radius: 150px;


width: 220px;
height:220px;
top:90px;
left:1050px;

position: relative;
-moz-animation: spinPulse 3s infinite ease-in-out;
-webkit-animation: spinPulse 3s infinite ease-in-out;


}
.innerCircle {
background-color: transparent;
border: 5px solid rgba(189, 215, 60, 0.6);
opacity: 1;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-radius: 100px;

width: 200px;
height: 200px;
top: 105px;
left:825px;

position: relative;
-moz-animation: spinoffPulse 1s infinite linear;
-webkit-animation: spinoffPulse 1s infinite linear;

}


@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
  50% { -moz-transform:rotate(145deg); opacity:1; }
  100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
  50% { -webkit-transform:rotate(145deg); opacity:1;}
  100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes rotatecircle {
    0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(-360deg); }
}

@-webkit-keyframes rotatecircle {
    0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}
.box-3{  
    
    background-color:black;
background-size:cover;
   

     flex:1 0 auto;
  

    border:3px solid white;
     margin:0px;
height:330px;
    width:100%;
  
  

    
}

section ul{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    text-align: center;
    flex-wrap: wrap;
    margin:5px;
    padding:5px;


}
ul li{
    flex:1 0 auto;
    font-size:20px;
    color:white;

    
}
ul li:hover{
    
    color:red;

    
}
section h2:hover{
    color:orange;
    opacity:1;
}
section h1:hover{
    color:red;
    opacity:1;
}


demonm{
color:green;
}
footer{
    background-color:yellow;
    display:block;
    width:200px;
    height:200px;
    border:2px solid red;
    border-radius:50%;
}
.eyes{
    background-color: white;
    width:7px;
    height:7px;
    border:2px solid black;
}
